.dropdown {
    position: relative;
    z-index: 10;

    min-width: 175.5px;

    cursor: pointer;

    &__btn {
        width: 100%;

        text-align: center;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - .5rem);
            right: 1rem;

            width: 1rem;
            height: 1rem;

            background: url("/images/arrow.png") center center no-repeat;
        }
        &_selected {
            padding: 21.5px 10px;

            font-size: 12px;

            &:after {
                display: none;
            }
        }
    }
    &__compare {
        &-item {
            display: flex;
            align-items: center;

            padding: 9px;
            min-height: 45px;
        }

        &-img {
            object-fit: contain;
            margin-right: 5px;
        }

        &-text {
            width: 70%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__arrow {
        margin-left: 3px;
    }
    &__wrapper-overflow {
        position: absolute;
        top: -21px;

        width: 100%;
        margin-top: calc(36px + 1rem);

        border: 1px solid $blue-light;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top: none;
        background-color: white;

        overflow: hidden;

        &_sharp-angle {
            border-bottom-left-radius: .3125rem;
            border-bottom-right-radius: .3125rem;
        }
    }
    &__main {
        position: relative;

        display: flex;
        flex-direction: column;
        padding: 18px 9px 2rem;

        max-height: inherit;
        max-width: 100%;
        width: inherit;

        overflow-x: hidden;

        transition: all .5s;

        &_disable {
            padding: 0;
            height: 0;

            border: 0 solid $blue-light;
        }
        @include scroll-bar
    }
    &_company {
        min-width: 175.5px;

        .dropdown__main {
            padding: 18px 9px 2rem;

            &_disable {
                padding: 0;
                height: 0;
            }
        }
    }
    &__close {
        position: absolute;
        bottom: 0;
        left: 0;


        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1.5rem;
        background-color: white;

        color: $gray-font;
        font-size: .825rem;
        text-align: center;
        line-height: 1.5rem;
        font-style: normal;
        &_disable {
            display: none;
        }

        &::before {
            position: relative;
            left: -.5rem;
            content: '';
            display: block;
            width: 1rem;
            height: 1rem;

            background: url("/images/close.png") center center no-repeat;
        }
    }
}

.text-lh-15.dropdown__btn_selected {
    padding: .5rem 10px;
    border: 1px solid $blue-light;
}

@import "dropdown-adaptive";
