@media (max-width: $df-xl) {
    .dropdown {
        min-width: 270px;

        &__btn {
            padding: 14px 24px;

            font-size: 16px;

            &_selected {
                padding: 16px 10px;

                font-size: 12px;
            }
        }
        &__main {
            padding: 30px 9px 12px;

            &_disable {
                padding: 0;
                height: 0;

                border: 0 solid $blue-light;
            }
        }
    }
}

@media (max-width: $df-md) {
    .dropdown {
        &__main {
            padding: 15px 9px 9px;

            &_disable {
                padding: 0;
                height: 0;

                border: 0 solid $blue-light;
            }
        }
    }
}


@media (max-width: $df-sm) {
    .dropdown {
        min-width: 240px;

        &_company {
            min-width: 288px;

            .dropdown__main {
                padding: 18px 9px 12px;

                &_disable {
                    padding: 0;
                    height: 0;
                }
            }
        }
    }
}

