@mixin mb-mixin {
    &-0 {
        margin-bottom: 0;
    }

    &-1 {
        margin-bottom: .25rem;
    }

    &-2 {
        margin-bottom: .5rem;
    }

    &-3 {
        margin-bottom: .75rem;
    }

    &-4 {
        margin-bottom: 1rem;
    }

    &-5 {
        margin-bottom: 1.25rem;
    }

    &-6 {
        margin-bottom: 1.5rem;
    }
}

@mixin m-mixin {
    &-0 {
        margin: 0;
    }

    &-1 {
        margin: 0.25rem;
    }

    &-2 {
        margin: .5rem;
    }

    &-3 {
        margin: .75rem;
    }

    &-4 {
        margin: 1rem;
    }

    &-5 {
        margin: 1.25rem;
    }

    &-6 {
        margin: 1.5rem;
    }

    &-7 {
        margin: 1.75rem;
    }

    &-8 {
        margin: 2rem;
    }

    &-9 {
        margin: 2.25rem;
    }

    &-10 {
        margin: 2.5rem;
    }
}

@mixin mt-mixin {
    &-0 {
        margin-top: 0;
    }

    &-1 {
        margin-top: .25rem;
    }

    &-2 {
        margin-top: .5rem;
    }

    &-3 {
        margin-top: .75rem;
    }

    &-4 {
        margin-top: 1rem;
    }

    &-5 {
        margin-top: 1.25rem;
    }

    &-6 {
        margin-top: 1.5rem;
    }

    &-7 {
        margin-top: 1.75rem;
    }

    &-8 {
        margin-top: 2rem;
    }

    &-9 {
        margin-top: 2.25rem;
    }

    &-10 {
        margin-top: 2.5rem;
    }
}

@mixin ml-mixin {
    &-0 {
        margin-left: 0;
    }

    &-1 {
        margin-left: .25rem;
    }

    &-2 {
        margin-left: .5rem;
    }

    &-3 {
        margin-left: .75rem;
    }

    &-4 {
        margin-left: 1rem;
    }

    &-5 {
        margin-left: 1.25rem;
    }

    &-6 {
        margin-left: 1.5rem;
    }
}

@mixin mr-mixin {
    &-0 {
        margin-right: 0;
    }

    &-1 {
        margin-right: .25rem;
    }

    &-2 {
        margin-right: .5rem;
    }

    &-3 {
        margin-right: .75rem;
    }

    &-4 {
        margin-right: 1rem;
    }

    &-5 {
        margin-right: 1.25rem;
    }

    &-6 {
        margin-right: 1.5rem;
    }
}

.m {
    & {
        @include m-mixin;
    }

    &t {
        @include mt-mixin;
    }

    &l {
        @include ml-mixin;
    }


    &r {
        @include mr-mixin;
    }

    &b {
        @include mb-mixin
    }
}

@media (max-width: $df-xl) {
    .m {
        &-xl {
            @include m-mixin;
        }

        &t-xl {
            @include mt-mixin;
        }

        &l-xl {
            @include ml-mixin;
        }


        &r-xl {
            @include mr-mixin;
        }

        &b-xl {
            @include mb-mixin
        }
    }
}

@media (max-width: $df-lg) {
    .m {
        &-lg {
            @include m-mixin;
        }

        &t-lg {
            @include mt-mixin;
        }

        &l-lg {
            @include ml-mixin;
        }


        &r-lg {
            @include mr-mixin;
        }

        &b-lg {
            @include mb-mixin
        }
    }
}
@media (max-width: $df-md) {
    .m {
        &-md {
            @include m-mixin;
        }

        &t-md {
            @include mt-mixin;
        }

        &l-md {
            @include ml-mixin;
        }


        &r-md {
            @include mr-mixin;
        }

        &b-md {
            @include mb-mixin
        }
    }
}

@media (max-width: $df-sm) {
    .m {
        &-sm {
            @include m-mixin;
        }

        &t-sm {
            @include mt-mixin;
        }

        &l-sm {
            @include ml-mixin;
        }


        &r-sm {
            @include mr-mixin;
        }

        &b-sm {
            @include mb-mixin
        }
    }
}
