.footer {
    position: relative;
    z-index: 1;

    width: 100%;
    margin-top: auto;

    background-color: #f6f9fd;
    border-top: 1px solid #e1eeff;

    overflow: hidden;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 12px auto 0;

        list-style-type: none;

        max-width: 1200px;
    }
    &__list-item {
        margin: 4px 16px;

        font-size: 14px;
        color: #989898;
    }
    &__link {
        color: #989898;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $blue-light;
        }
    }
    &__date {
        margin-top: 20px;
        padding-bottom: 18px;

        color: #989898;
        font-size: 14px;
        line-height: 21px;
    }
}

@import "footer-adaptive";
