@media (max-width: $df-xl) {
    .footer_compare {
        margin-top: 0;

        .footer {
            &__date {
                height: 40px;
                padding: 0;
                margin: 0 0 0 20px;

                text-align: left;
                line-height: 40px;
            }
            &__list {
                display: none;
            }
        }
    }
    .footer {
        &__list {
            justify-content: space-between;

            &-item {
                flex-basis: 150px;
            }
        }
    }
}

@media (max-width: $df-sm) {
    .footer {
        &__list {
            justify-content: center;
            &-item {
                flex-basis: 150px;
            }
        }
        &__list-item {
            margin: 8px;
        }
    }
}
