.header {
    font-weight: 700;
    color: $blue-dark;
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 2.5rem;

    &_info {
        margin: 18px auto 0;
    }
    &_how-calculate {
        &:nth-child(3) {
            margin-top: 60px;
        }
    }

    &_about {
        margin-top: 4.75rem;
    }
    &_about-big {
        h1, h2, h3, h4, h5, h6 {
            font-size: 36px;
            line-height: 41px;
        }
    }
    &_about-little {
        h1, h2, h3, h4, h5, h6 {
            font-size: 25px;
            line-height: 2rem;
        }
    }

    &_with-arrow{
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & h1 {
        font-weight: 700;
        color: $blue-dark;
        font-size: 30px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    &_big h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 2.5rem;
    }
    &_left {
        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }
    }

    &_black {
        color: $gray-dark-font;
    }
    &_weight-medium {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 500;
        }
    }
}

.header-sub {
    font-size: 25px;
    letter-spacing: 1.2px;

    & h2{
        font-size: 25px;
        letter-spacing: 1.2px;
    }

    & h3{
        font-size: 25px;
        letter-spacing: 1.2px;
    }
}

.header-main, h1 {
    font-size: 36px;
    letter-spacing: 1.8px;
}

.header-small {
    font-size: 20px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 700;
    color: $blue-dark;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
}

h1 {
    color: $blue-dark;
}

@import "header-adaptive";
