@media (max-width: $df-xl) {
    .header-company h1 {
        font-size: 32px;
        letter-spacing: 1.2px;
    }
}

@media (max-width: $df-lg) {
    .header-company h1 {
        font-size: 30px;
        letter-spacing: 1.2px;
    }
}



@media (max-width: $df-md) {
    .header {
        font-size: 26px;
        letter-spacing: 1.2px;

        & h1 {
            font-size: 26px;
            letter-spacing: 1.2px;
        }
        &_about-big {
            h1, h2, h3, h4, h5, h6 {
                font-size: 30px;
                line-height: 2rem;
            }
        }
        &_about-little {
            h1, h2, h3, h4, h5, h6 {
                font-size: 23px;
                line-height: 2rem;
            }
        }
    }
    .header-company h1 {
        font-size: 28px;
        letter-spacing: 1.2px;
    }
    .header-main, h1 {
        font-size: 34px;
        letter-spacing: 1.5px;
    }
    .header-sub {
        font-size: 22px;
        letter-spacing: 1.1px;

        & h2 {
            font-size: 22px;
            letter-spacing: 1.1px;
        }

    }
    h2 {
        font-size: 26px;
        letter-spacing: 1.2px;
    }
}

@media (max-width: $df-sm) {
    .header-company h1 {
        font-size: 24px;
        letter-spacing: .8px;
    }
    .header {
        font-size: 24px;
        letter-spacing: 1.1px;

        & h1 {
            font-size: 24px;
            letter-spacing: 1.1px;
        }
    }
    .header-main, h1 {
        font-size: 32px;
        letter-spacing: 1.3px;
    }
    .header-sub {
        font-size: 19px;
        letter-spacing: 1px;
        & h2 {
            font-size: 19px;
            letter-spacing: 1px;
        }
    }
    .header-small {
        font-size: 18px;
        letter-spacing: .8px;
    }
    h2 {
        font-size: 24px;
        letter-spacing: 1.1px;
    }
}
