.form {
    padding: 1rem;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        border-radius: 1rem;
        box-shadow: -.25rem .25rem 1rem $blue-light-a5;
        background-color: $white;
    }

    &__label {
        display: block;
        margin-bottom: .25rem;
        padding-left: .25rem;

        font-size: 1rem;
        color: $gray-font;
        line-height: 1.5rem;
    }

    &__input {
        display: block;
        width: 100%;
        padding: .875rem;

        font-size: 1.25rem;
        color: $gray-font;


        border-radius: .5rem;
        border-color: $blue-light-a5;
        border-width: 1px;
        outline: 0 none;

        &:hover {
            box-shadow: 0 .063rem .063rem $blue-light-a1 inset, 0 0 .5rem $blue-light-a3;
        }
        &:focus {
            border-color: $blue-light;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 .5rem $blue-light;
        }
        &_error {
            border-color: $red-soft;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 .5rem $red-soft;
        }
    }

    &__group {
        margin-bottom: .25rem;
    }

    &__body {
        width: 100%;
    }

    &__submit-wrapper {
        padding-top: 1rem;
    }
    &__error-tip {
        display: block;
        padding-left: .25rem;
        padding-top: .25rem;

        color: $red-soft;
    }
    &__success-tip {
        display: block;
        padding-left: .25rem;
        padding-top: .25rem;

        color: $green-soft;
    }
    &__input-group {
        &_checkbox {
            display: flex;
            align-items: center;
            padding-top: .25rem;

            .form__label {
                margin-bottom: 0;
                line-height: 100%;
            }
        }
    }
    &__link {
        padding: 1.125rem 1.5rem;
        color: $gray-font;
        text-decoration: none;
        &:hover {
            color: $blue-light;
            text-decoration: underline;
        }
    }
}


@media (max-width: $df-md) {
    .form {
        &__input {
            padding: .5rem;
        }
    }
}
