.rating-list {
    padding-top: 2.5rem;
    padding-left: 1rem;

    list-style-type: none;

    &__li {
        margin-bottom: 1rem;
    }

    .rating-reliability & {
        padding-bottom: 4rem;
    }

    &_adaptive_arc_appear {
        display: none;
    }

    &_adaptive-wrapper-content {
        display: flex;
    }

    &__item {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1.5rem;
        max-width: 760px;

        color: $gray-font;
        cursor: pointer;
        text-decoration: none;

        box-shadow: 0 0 40px rgba(61, 115, 255, 0.1);
        border-radius: 16px;
        background-color: #ffffff;

        &:hover {
            box-shadow: 0 0 40px rgba(61, 115, 255, 0.3);
        }

        &_col {
            flex-direction: column;
        }

        &-index {
            flex-basis: 40px;
        }

        &-img-wrapper {
            flex-basis: 90px;
        }

        &-img {
            display: block;
            max-width: 50px;
            max-height: 70px;
            min-width: 40px;
            min-height: 50px;

            object-fit: contain;
        }
        &-data {
            width: 8.5rem;
            margin-right: 1rem;
            line-height: 1.5rem;
            flex-basis: 180px;

            overflow: visible;

            &-value {
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;

                overflow: hidden;


                &_link {
                    position: relative;
                    z-index: 2000;

                    display: block;
                    color: $blue-dark;
                    background: white;

                    &:hover {
                        overflow: visible;
                        &:after {
                            content: attr(data-content);
                            position: absolute;
                            top: 0;
                            left: 0;

                            background-color: white;
                        }
                    }
                }
            }
        }
        &-rate {
            position: relative;

            flex-basis: 210px;
        }
        &-btn {
            flex-basis: 170px;
        }

        &_rely {
            min-height: 208px;
            align-content: center;
            .rating-list__item {
                &-index {
                    flex-basis: 40px;
                }
                &-info {
                    flex-basis: 280px;
                    max-width: 300px;

                    list-style-type: none;
                }
                &-title {
                    padding-left: 40px;
                    min-width: 100%;
                    order: -1;
                    flex-basis: 100%;
                }
                &-arc {
                    flex-basis: 175px;
                }
            }
        }
        &-rate {
            .stars {
                margin: 0;
            }

            line-height: 1.5rem;
        }

        &-title {
            max-width: 200px;

            color: $blue-light;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-label {
            color: $gray-font;
            font-size: 16px;
            line-height: 24px;
            &_first {
                padding-left: 1rem;
            }
        }
        &-link {
            margin-top: 8px;

            color: $blue-light;
            font-size: 16px;
            letter-spacing: 0.8px;
            text-decoration: underline;
        }
    }
}

@import "rating-list-adaptive";
