@media (max-width: $df-xl) {

    .rating-list {
        padding-left: 1.5rem;

        .rating-reliability & {
            padding-bottom: 7rem;
        }

        &__item {
            max-width: 553px;
            max-height: 100vh;

            &-index {
                flex-basis: 40px;
            }

            &-img-wrapper {
                flex-basis: 90px;
            }

            &-img {
                max-width: 75px;
                max-height: 75px;
            }

            &-rate {
                flex-basis: 205px;
                margin-right: 0;
            }

            &-data {
                flex-basis: 170px;
                margin-right: 0;
            }

            &-btn {
                margin: 1rem 0 0 130px;
            }

            &_rely {
                .rating-list__item {
                    &-arc {
                        flex-basis: 100px;
                    }

                    &-info {
                        min-width: 320px;
                        flex-basis: 320px;
                    }
                }
            }
        }
    }
}

@media (max-width: $df-lg) {
    .rating-list {
        padding-left: 1rem;

        &__item {
            max-width: 384px;

            &-index {
                flex-basis: 40px;
            }

            &-img-wrapper {
                flex-basis: 90px;
            }

            &-data {
                flex-basis: 205px;
            }

            &-rate {
                margin-top: .5rem;
                margin-left: 130px;
            }

            &-btn {
                margin: .5rem auto 0;
            }

            &_rely {
                .rating-list__item {

                    &-index {
                        flex-basis: 32px;
                    }

                    &-info {
                        flex-basis: 200px;
                        min-width: 200px;
                    }

                    &-arc {
                        flex-basis: 80px;
                        width: 80px;

                    }
                }
            }
        }
    }
}

@media (max-width: $df-md) {
    .rating-list {
        padding-left: 0;
        margin: 0 auto;

        &__item {
            margin: 0 auto 1rem;
            max-width: 468px;

            &-index {
                flex-basis: 32px;
            }

            &-img-wrapper {
                flex-basis: 64px;
            }

            &-img {
                max-width: 50px;
                max-height: 50px;
            }

            &-data {
                flex-basis: 160px;
            }

            &-rate {
                margin: 0;
                max-width: 150px;
                flex-basis: 150px;

                line-height: 1.5rem;
            }

            &-btn {
                flex-basis: calc(100% - 32px);
                margin-left: 32px;
                min-width: calc(100% - 32px);

                .btn_compare {
                    min-width: calc(100% - 32px);
                }

                &__main {
                    max-width: calc(100% - 32px);
                }
            }

            &_rely {
                .rating-list__item {
                    &-index {
                        flex-basis: 32px;

                        &-info {
                            flex-basis: 270px;
                            min-width: 270px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $df-sm) {
        .rating-list {
            &__item {
                max-width: 298px;

                &-index {
                    flex-basis: 2rem;
                }

                &-img-wrapper {
                    flex-basis: 4rem;
                }

                &-data {
                    flex-basis: 150px;
                }

                &-rate {
                    margin: .5rem 0 0 6rem;
                }

                &-btn {
                    max-width: 100%;
                    margin: .5rem auto 0;

                    .btn_compare {
                        min-width: 100%;
                    }

                    &__main {
                        max-width: 100%;
                    }
                }

                &_rely {
                    .rating-list__item {
                        &-index {
                            order: -2;
                            flex-basis: 6px;
                        }

                        &-title {
                            order: -2;
                            flex-basis: 240px;
                            min-width: 240px;
                            padding-left: 0;
                            padding-right: 6px;

                            text-align: center;
                        }

                        &-arc {
                            display: flex;
                            justify-content: center;
                            order: -1;
                            flex-basis: 246px;
                        }

                        &-btn {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}
