$white: #ffffff;
$gray-font: #676767;
$gray-font-2: #595959;
$gray-dark-font: #333333;
$gray-font-a5: #67676788;

$blue-dark: #274387;
$blue-light: #3c63c4;
$blue-light-a5: rgba(60, 99, 196, .5);
$blue-light-a3: rgba(60, 99, 196, .3);
$blue-light-a1: rgba(60, 99, 196, .1);
$backgroundWhite: #f6f9fd;
$red-soft: #ff4136;
$green: #138700;
$green-soft: rgba(75,181,67, 1);
$yellow: #ffb800;
$red: #ff0000;

// mf - mobile first
// df - desktop first

$mf-sm: 576px;
$df-sm: 575px;
$mf-md: 768px;
$df-md: 767px;
$mf-lg: 992px;
$df-lg: 991px;
$mf-xl: 1200px;
$df-xl: 1199px;
