@import "variables";
@import "normalize";

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}


body {
    background-color: #f6f9fd;
    position: relative;
}


@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        overflow: hidden;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(60,99,196,0.55);
    }
}



@import "includes/general";
@import "includes/button";
@import "includes/header/header";

@import "includes/nav/nav";
@import "includes/footer/footer";
@import "includes/components/stars";
@import "includes/best-choice";
@import "includes/dropdown/dropdown";
@import "includes/form";
@import "includes/offsets";
@import "includes/text";
@import "includes/flex";
@import "includes/sizes";
@import "includes/graphic";
@import "includes/reset";
@import "includes/animations";

@import 'includes/about-site';
@import "includes/rating-companies";
@import "includes/info";
@import "includes/rating-list/rating-list";
@import "includes/arc";
@import "includes/circle";
@import "includes/rating-reliability";
@import "includes/company-data/company-data";
@import "includes/company-reviews/company-reviews";
@import "includes/portfolio/portfolio";
@import "includes/reliability/reliability";
@import "includes/compare/compare";
@import "includes/company-node/company-node";
@import "includes/about";
@import "includes/how-calculate/how-calculate";
@import "includes/side-form-submit";
@import "includes/cover";
@import "includes/paginator";
@import "includes/components/tips";

@import "includes/components/criteria";
@import "includes/components/photo-zoom";

@import "includes/components/error";

@import "includes/sorting/sorting";
@import "includes/filter/filter";
@import "includes/sort-filter-radio";
@import "includes/rating-card";
@import "includes/card";
