.how-calculate {
    z-index: 100000;

    display: flex;
    margin-top: 2rem;

    align-items: center;

    transition: all .5s;

    &__wrapper {
        position: relative;

        margin: 0 auto;
        max-width: 758px;

        border-radius: 16px;
    }

    &__paragraph {
        margin-top: 16px;

        color: $gray-font;
        line-height: 24px;
    }

    &__close {
        position: absolute;
        top: 5%;
        left: calc(50% + 400px + 2rem);

        height: 30px;
        width: 30px;

        border-radius: 25px;
        cursor: pointer;

        &:hover {
            .how-calculate__span {
                background-color: $blue-light;
            }
        }
    }
    &__span {
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 12.5px);

        height: 4px;
        width: 25px;

        background-color: white;
        border-radius: 2px;

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(1) {
            transform: rotate(-45deg);
        }
    }
    &__table {
        margin-top: 17px;

        border: 1px solid #c0d0f7;
        border-collapse: collapse;

        &-head-item {
            position: relative;

            padding: 8px 32px;

            width: 25%;

            text-align: left;
            color: $blue-dark;
            line-height: 24px;

            border: 1px solid #c0d0f7;
            background-color: #e2efff;
            &:nth-child(1) {
                padding: 8px 16px;
            }
        }
        &-body-item {
            padding: 8px 16px;

            font-weight: 400;
            color: $gray-font;
            line-height: 24px;
            text-align: left;
            vertical-align: top;

            border: 1px solid #c0d0f7;
        }
    }
    &__circle {
        position: absolute;
        top: calc(50% - 4px);
        left: 16px;

        width: 8px;
        height: 8px;

        border-radius: 4px;

        &[data-content="2"] {
            background-color: #138700;
        }
        &[data-content="1"] {
            background-color: #ffb800;
        }
        &[data-content="0"] {
            background-color: #ff0000;
        }
    }

    &__alter-table {
        display: none;
        margin-top: 10px;
        border-collapse: collapse;

        &-item-side-h, &-item-main-h {
            position: relative;

            font-size: 14px;
            text-align: left;
            color: $blue-dark;
            line-height: 24px;

            border: 1px solid #c0d0f7;
            background-color: #e2efff;
        }

        &-item-side-h {
            padding: 8px 16px;
            width: 25%;
        }

        &-item-main-h {
            padding: 8px 32px;
            width: 75%;
        }
        &-item-side-b, &-item-main-b {
            position: relative;

            padding: 8px 16px;

            font-size: 14px;
            text-align: left;
            vertical-align: top;
            color: $gray-font;
            line-height: 24px;

            border: 1px solid #c0d0f7;

        }
        &-item-main-h {
            width: 70%;
        }
    }
}
@import "how-calculate-adaptive";
