@media (max-width: $df-xl) {
    .how-calculate {
        &__wrapper {
            max-width: 534px;
        }

        &__table {
            table-layout: fixed;
            word-wrap: break-word;
            margin: 17px auto 0;
            width: 536px;

            font-size: 14px;

            &-body-item {
                padding: 8px 15px;
            }
        }

        &__close {
            left: calc(50% + 290px + 1rem);
        }

    }
}

@media (max-width: $df-lg) {
    .how-calculate {
        &__wrapper {
            max-width: 440px;
        }

        &__table {
            width: 430px;

            &-head-item {
                padding: 8px 20px;

                &:nth-child(1) {
                    padding: 8px;
                }
            }

            &-body-item {
                padding: 8px;
            }
        }

        &__circle {
            left: 7px;
        }

        &__close {
            top: 2%;
            left: calc(50% - 15px);
        }
    }
}

@media (max-width: $df-md) {
    .how-calculate {
        &__wrapper {
            max-width: 440px;
        }

        &__table {
            width: 430px;
        }
    }
}

@media (max-width: $df-sm) {
    .how-calculate {
        &__table {
            display: none;
        }

        &__alter-table {
            display: table;
        }

        &__wrapper {
            max-width: 320px;
        }

        &__alter-table {
            table-layout: fixed;
            width: 290px;

            word-wrap: break-word;

            &-item-side-h {
                width: 35%;
            }
            &-item-main-h {
                width: 65%;
            }
            &-item-side-b {
                width: 35%;
            }
            &-item-main-b {
                width: 65%;
            }
        }
    }
}
