.criteria {
    position: relative;
    padding-left: 1rem;
    &__key {
        display: block;
    }
    &__value {
        display: block;
        font-size: 14px;
    }
    &__tip {
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        top: -10px;
        left: 90%;
        transform: translate(-50%, -100%);
        max-height: 150px;
        min-width: 300px;
        position: absolute;
        color: white;
        line-height: 17px;
        font-size: 14px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, .8);

        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(0, 0, 0, .8);
            top: calc(100% - 1px);
            left: 10%;
            transform: translateX(-50%);
        }
        &_active {
            padding: 16px;
            opacity: 1;
            visibility: visible;
        }
    }

    & .circle {
        left: 0;
    }
}
