$close-size: 50px;

.photo-zoom {
    transition: 1s all;
    position: fixed;
    z-index: 10001;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(60, 99, 196, 0.5);
    backdrop-filter: blur(4px);
    &_disable {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    &__close {
        position: absolute;
        z-index: 10002;
        left: calc(50% - 25px);
        top: calc(5vh - 25px);

        width: $close-size;
        height: $close-size;

        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        transition: .5s all;
        &_enter {
            animation: closeEnter 1s ease;
        }
        &_exit {
            animation: closeExit 1s ease;
        }
    }
    &__line {
        height: 5px;
        width: 40px;
        border-radius: 5px;
        position: absolute;
        background-color: white;
        &_first {
            top: calc(50% - 2.5px);
            left: calc(50% - 20px);
            transform: rotate(45deg);
        }
        &_second {
            bottom: calc(50% - 2.5px);
            left: calc(50% - 20px);
            transform: rotate(-45deg);
        }
    }
    &__img-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__img {
        cursor: default;
        max-width: min(100vw, 700px);
        max-height: min(80vh, 700px);
        transition: all 1s;

        filter: drop-shadow(4px 4px 8px #676767);
        &_disable {
            opacity: 0;
        }
    }
}


@keyframes closeEnter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes closeExit {
    0% {
        transform: rotate(-0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}
