.stars {
    display: flex;
    align-items: center;
    margin: 10px 0;

    &__gray {
        position: relative;

        display: flex;
    }

    &__yellow {
        position: absolute;
        z-index: 1;
        left: 0;

        display: flex;
        height: 100%;
        width: calc(attr(data-content %) * 20);

        overflow: hidden;
    }

    &__item {
        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            margin: 0;
        }

        &_gray {
            &:before {
                background: url("/images/star.svg") center center/cover no-repeat;
            }
        }
        &_yellow {
            &:before {
                background: url("/images/star_orange.svg") center center/cover no-repeat;
            }
        }
    }

    &__mark-average {
        margin-left: .5rem;
    }
}

.stars_best-choice {
    display: flex;
    justify-content: center;
    align-items: center;

    .stars__item:before{
        width: 20px;
        height: 20px;
    }

    .stars__mark-average {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $blue-dark;
    }
}

.stars_company-data {
    color: $blue-light;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;

    .stars__item:before {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: $df-md) {
    .stars {
        margin: 0;
    }
}
