.tip {
    position: relative;

    margin-right: .5rem;

    cursor: pointer;
    transition: all 0.25s ease-out;

    &_text {
        display: inline;
    }

    &__question {
        display: block;
        width: 1rem;
        height: 1rem;

        background: url("/images/question.png") center center no-repeat;
        cursor: pointer;

        &_span {
            background: none;
            width: auto;
            height: auto;
            display: inline;
        }
        &_inline {
            display: inline-block
        }
    }

    &__content {
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: 10;

        padding: .875rem;
        min-width: 300px;
        max-width: 300px;

        color: white;
        line-height: 15px;
        font-size: 13px;

        border-radius: .5rem;
        background-color: rgba(0, 0, 0, .8);
        transform: translate(-50%, -100%);
        transition: all 0.5s;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;

            width: 0;
            height: 0;

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(0, 0, 0, .8);

            transform: translateX(-50%);
        }
        &_big {
            top: calc(25px);
            transform: translate(-50%, 0);

            &:after {
                top: -9px;
                transform: translateX(0) rotate(180deg);
            }
        }
        &--left-offset {
            transform: translate(-90%, -100%);
            &:after {
                left: 90%;
            }
        }

        &--bottom {
            top: 10px;
            transform: translate(-50%, 50%);
            &:after {
                top: -10px;
                transform: translateX(-50%) rotate(180deg);
            }
        }

    }

    &_disable {
        .tip__content {
            max-height: 0;
            min-width: unset;
            padding: unset;

            visibility: hidden;
            overflow: hidden;
            opacity: 0;
        }
    }

    &_company {
        margin-left: 1rem;
    }
}

.tip__content--bottom.tip__content--left-offset {
    transform: translate(-90%, 50%);
    &:after {
        left: 90%;
    }
}

@media (max-width: $df-md) {
    .tip {
        &__content {
            left: calc(50% - 90px);

            min-width: 250px;

            &:after {
                left: calc(50% + 90px);
            }
            &_big {
                min-width: 300px;
                left: calc(50% + 50px);
                &:after {
                    left: calc(50% - 50px);
                }
            }
            &_info {
                left: calc(50%);
                &:after {
                    left: calc(50%);
                }
            }
        }
        &_disappear {
            display: none;
        }
    }
}

@media (max-width: $df-sm) {
    .tip {
        &__content {
            &_big {
                min-width: 250px;
            }
        }
    }
}


