@media (max-width: $df-xl) {
    .company-node {
        &__label-content {
            font-size: 14px;
        }
        &__col {
            flex-basis: 220px;
            min-width: 220px;
            max-width: 220px;
        }
    }
}

@media (max-width: $df-md) {
    .company-node {
        padding: .5rem 1rem;
        &__content {

            &_disable {
                max-height: 0;
            }

            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                -webkit-box-shadow: inset 0 0 6px rgba(60,99,196,0.35);
            }

        }
        &__line {
            &_fixed {
                top: 40px;
            }
        }
    }
}

@media (max-width: $df-sm) {
    .company-node {
        &__col {
            flex-basis: 200px;
            min-width: 200px;
            max-width: 200px;
        }
        &__label-content {

        }
        &__label-rate {
            display: block;
        }
    }
}
