.company-node__round {
    position: relative;

    min-width: 1rem;
    width: 1rem;
    height: 1rem;

    background-color: red;
    border-radius: 8px;

    &:before, &:after {
        content: '';
        position: absolute;

        height: 2px;

        border-radius: 1px;
    }
    &[data-content="2"] {
        border: 1px solid #138700;
        background-color: #baffae;

        &:before, &:after {
            background-color: #138700;
        }

        &:before {
            top: calc(50% - 1px);
            left: calc(50% - 3px);

            width: 9px;

            transform: rotate(-45deg);
        }
        &:after {
            top: calc(50%);
            left: calc(50% - 5px);

            width: 5px;

            transform: rotate(225deg);
        }
    }
    &[data-content="1"] {
        border: 1px solid #ffb800;
        background-color: #fffcae;

        &:before, &:after {
            background-color: #ffb800;

            transform: translate(-50% -50%);
        }
        &:before {
            top: calc(50% - 5px);
            left: calc(50% - 1px);

            width: 2px;
            height: 7px;
        }
        &:after {
            top: calc(50% + 3px);
            left: calc(50% - 1px);

            width: 2px;
        }
    }
    &[data-content="0"] {
        border: 1px solid #ff0000;
        background-color: #ffaeae;

        &:before, &:after {
            background-color: #ff0000;
        }

        &:before {
            top: calc(50%);
            left: calc(50%);

            width: 8px;

            transform: translate(-50%, -50%);
        }
        &:after {
            width: 0;
        }
    }
}
