.company-node {
    padding: 19px 23px;

    &__main {
        list-style-type: none;
        border-radius: 1rem;
        background-color: white;
    }

    &__line {
        position: relative;
        display: flex;

        transition: .5s all;

        &_hidden {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
        }

        &_fixed {
            z-index: 10;
            background-color: white;
            position: fixed;
            top: 72px;
        }
    }

    &__link {
        display: flex;
        align-items: center;

        text-decoration: none;
    }

    &__exclamation {
        position: relative;
        display: block;
        min-width: 1.25rem;
        min-height: 1.25rem;

        background-color: $blue-dark;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;
            width: 70%;
            height: 70%;

            transform: translate(-50%, -50%);
            background: url("/images/exclamation-mark-white.svg") center center / contain no-repeat;
        }
        &:focus {
            box-shadow: 0 0 .5rem $blue-dark;
        }
    }

    &__col {
        flex-basis: 268px;
        min-width: 268px;
        max-width: 268px;

        box-shadow: 5px 0 #f6f9fd;
        padding: 0.25rem 1rem;

        &_lp {
            padding: 1rem 1rem;
        }

        &_bp {
            padding: .5rem 1rem;
        }

        &:last-child {
            box-shadow: none
        }

        &_last {
            padding-bottom: 1rem;
        }

        &_rating {
            padding-bottom: 1rem;
        }

        &_flex-between {
            display: flex;
            justify-content: space-between;
        }
    }

    &__label {
        position: relative;
        z-index: 7;

        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1.5rem;

        cursor: pointer;

        &::after {
            content: '';

            display: block;
            width: 10px;
            height: 10px;

            background: url("/images/arrow_gray.png") no-repeat center center;

            transition: all .5s;
        }
    }

    &__label_arrow {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__label-content {
        color: $gray-font;
        line-height: 1.5rem;

        &_review {
            font-weight: 700;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item-small {
        color: #989898;
        font-size: 12px;
    }

    &__item-regular {
        color: $gray-font;
        line-height: 1.5rem;

        &_review {
            font-weight: 700;
        }
    }

    &__item-mark {
        font-weight: 700;

        &[data-status="0"] {
            color: #ff0000;
        }

        &[data-status="1"] {
            color: #ffb800;
        }

        &[data-status="2"] {
            color: #138700;
        }
    }

    &__content {
        transition: all .5s;
    }

    &__content_disable {
        max-height: 0;

        visibility: hidden;
        transform: scaleY(0);
    }

    &__state {
        display: flex;
    }
}

@import "company-node-round";
@import "company-node-adaptive";
