.text {
    &-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-normal {
        font-weight: 400;
    }

    &-bold {
        font-weight: 700;
    }
    &-size {
        &-1 {
            font-size: .25rem;
        }

        &-2 {
            font-size: .5rem;
        }

        &-3 {
            font-size: .75rem;
        }

        &-35 {
            font-size: .875rem;
        }

        &-4 {
            font-size: 1rem;
        }
    }

    &-color {
        &-gray {
            color: $gray-font;
        }
        &-gray-dark {
            color: $gray-dark-font;
        }
        &-blue-light {
            color: $blue-light;
        }
        &-blue-dack {
            color: $blue-dark;
        }
    }

    &-dark-link {
        color: $blue-dark;

        &:hover {
            text-decoration: underline;
        }
    }

    &-lh {
        &-10 {
            line-height: 1rem;
        }
        &-15 {
            line-height: 1.5rem;
        }
        &-120 {
            line-height: 2rem;
        }
    }

    &-center {
        text-align: center;
    }
}
