.nav {
    position: sticky;
    z-index: 10000;
    top: 0;
    left: 0;

    display: flex;
    min-height: 4.5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0 0 40px rgba(61, 115, 255, 0.05);

    overflow-x: hidden;

    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;

        div {
            margin-left: 1rem;

            line-height: 100%;
            color: $blue-dark;
            font-weight: 700;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 1200px;
    }

    &__list-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__list {
        position: relative;

        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;

        list-style-type: none;
    }

    &__list-item {
        margin: 0 16px;
    }

    &__link {
        text-decoration: none;
        color: $gray-font;
        font-size: 14px;
        font-weight: 400;

        margin-left: 1rem;

        &:hover {
            text-decoration: underline;
            color: $blue-light;
        }
    }

    &__logo {
        display: block;
    }

    &__burger {
        position: relative;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        margin-right: 1rem;

        transition: all .5s;

        &-line {
            position: relative;

            display: block;
            width: 27px;
            height: 2px;
            margin: 3px;

            background-color: $blue-dark;
            border-radius: 2px;

            transition: all .5s;
        }
        &_active {
            .nav__burger-line {
                &:nth-child(1) {
                    top: 4px;

                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    bottom: 4px;

                    transform: rotate(-45deg);
                }
            }

        }
    }
    &__user-text {
        display: none;
    }
    &__list-separator {
        display: none;
    }
    &__user-link {
        display: flex;
        align-items: center;

        &::before {
            content: '';

            display: block;
            height: 1.25rem;
            width: 1.25rem;
        }

        &[data-content="login"] {
            &::before {
                background: url('/images/user.svg') left center no-repeat;
            }
        }
        &[data-content="account"] {
            &::before {
                background: url('/images/user-ready.svg') left center no-repeat;
            }
            color: $blue-light;
        }

        &:hover {
            &::before {
                background: url('/images/user-ready.svg') left center no-repeat;
            }
        }


    }
}

@import "nav-adaptive";
