@media (max-width: $df-xl) {
    $nav-height: 4.5rem;

    .nav {
        min-height: $nav-height;

        overflow: visible;

        &__logo {
            height: 34px;
        }
        &__burger {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        &__list-wrapper {
            position: fixed;
            top: $nav-height;
            z-index: 100;

            width: 0;
            height: calc(100vh - 40px);

            opacity: 0;
            background-color: white;

            -webkit-transition: .25s;
            -o-transition: .25s;
            transition: .25s;
        }

        &__list-wrapper_active {
            z-index: 100000;

            width: 100vw;

            opacity: 1;
            background-color: white;
        }

        &__list {
            position: relative;
            z-index: 100000;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            flex-wrap:  nowrap;

            width: 100%;

            background-color: white;

            -webkit-transform: translateX(-100vw);
            -ms-transform: translateX(-100vw);

            transform: translateX(-100vw);
            -webkit-transition: .25s;
            -o-transition: .25s;
            transition: .25s;

            overflow-y: auto;
        }

        &__list_active {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        &__list-item {
            margin: 1rem;
        }
        &__list-separator {
            display: block;
            margin: 1rem;
            height: .125rem;
            width: 1.25rem;

            background-color: $gray-font;
        }
        &__user-text {
            display: block;
        }
        &__user-link {
            width: 100%;

            &::before {
                display: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
        &__link {
            margin-left: 0;

            font-size: 1.5rem;
            line-height: 2rem;

            &_main {
                padding-left: 1rem;
            }
        }
    }
}

@media (max-width: $df-md) {
    $nav-height: 3rem;

    .nav {
        min-height: $nav-height;

        &__list-wrapper {
            top: $nav-height;
        }

        &_compare {
            -webkit-box-shadow: 0 0 40px rgba(61, 115, 255, 0.25);
            box-shadow: 0 0 40px rgba(61, 115, 255, 0.25);
        }

        &__list-item {
            margin: .5rem 1rem;
        }

        &__list-separator {
            height: .063rem;
        }

        &__link {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
    }
}
