.company-reviews {
    position: relative;
    z-index: 10;

    margin-left: 1rem;
    max-width: 760px;
    padding-top: 4.5rem;

    &__container {
        list-style-type: none;
    }

    &__more {
        margin-top: 16px;
        height: 20px;

        font-size: 16px;
        text-align: center;
        color: $blue-light;
        letter-spacing: 0.8px;
        text-decoration: underline;
        cursor: pointer;

        img {
            margin-left: 5px;
            margin-bottom: 2px;
        }
    }

    &__spinner {
        justify-content: center;
        display: none;
    }

    &__error {
        display: none;

        text-align: center;
        color: $red-soft;
        font-weight: 700;
    }

    &__item {
        margin-top: 19px;
    }

    &__item-mark {
        display: flex;
        align-items: center;
    }

    &__item-source {
        margin-right: 18px;

        color: #989898;
        font-size: 12px;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            color: $blue-light;
            text-decoration: underline;
        }
    }

    &__item-info-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-date {
        color: #989898;
        font-size: 12px;
        line-height: 1.5rem;
    }

    &__item-name {
        color: $blue-dark;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 1px
    }

    &__item-text {
        color: $gray-font;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &__item-image {
        width: 100%;
        height: 180px;

        -o-object-fit: cover;

        object-fit: cover;
        cursor: zoom-in;
    }
    &__item-image-wrapper {
        display: flex;
        margin-top: 29px;
        flex-wrap: wrap;
    }

    &__item-image {
        margin: .5rem;
        flex-basis: 33%;
        max-width: calc(33% - 1rem);
    }
}

@import "company-reviews-adaptive";
