@media (max-width: $df-xl) {
    .company-reviews {
        max-width: 580px;

        &__item {
            max-width: 580px;
        }


        &__item-image {
            width: 100%;
            height: 192px;
        }

        &__item-image {
            margin: .5rem;
            flex-basis: 50%;
            max-width: calc(50% - 1rem);
        }
    }
}

@media (max-width: $df-lg) {
    .company-reviews {
        max-width: 400px;

        &__item {
            max-width: 400px;
        }

        &__item-image {
            height: 146px;
        }

        &__item-image-wrapper {
            margin-top: 14px;
        }
    }
}

@media (max-width: $df-md) {
    .company-reviews {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 450px;

        &__item {
            max-width: 450px;
        }

        &__item-image {
            height: 159px;
        }

        &__item-image-wrapper {
            margin-top: 17px;
        }

        &__item-image {
            margin: .75rem;
            flex-basis: 50%;
            max-width: calc(50% - 1.5rem);
        }
    }
}

@media (max-width: $df-sm) {
    .company-reviews {
        max-width: 288px;

        &__item-info-line {
            -webkit-box-orient: vertical;
            flex-direction: column;
            align-items: flex-start;
        }

        &__item-mark {
            justify-content: space-between;
            width: 100%;
        }

        &__item-image {
            height: 104px;
        }

        &__item-image-wrapper {
            margin-top: 9px;
        }

        &__item-image {
            margin: .25rem;
            flex-basis: 50%;
            max-width: calc(50% - .5rem);
        }
    }
}
