.portfolio {
    position: relative;

    padding-top: 70px;
    max-width: 765px;

    &__controls {
        position: absolute;
        top: 0;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100%;

        outline: none;
        border: none;
        border-radius: 4px;
        background-color: rgba(0,0,0, .05);
        cursor: pointer;
        filter: blur(1px);

        &:hover {
            background-color: rgba(0,0,0, .1);
        }

        &_right {
            right: 0;

            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 25px);
                left: calc(50% - 25px);

                width: 50px;
                height: 50px;

                background: url("/images/angle-right-solid.svg") no-repeat center center;
            }

        }

        &_left {
            left: 0;

            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 25px);
                left: calc(50% - 25px);

                width: 50px;
                height: 50px;

                background: url("/images/angle-left-solid.svg") no-repeat center center;
            }
        }
        &-image {
            position: absolute;

            width: 50px;
            height: 50px;

            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    &__img-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        width: 100%;
        max-height: 100%;

        filter: blur(4px);
        object-fit: cover;
    }

    &__img {
        position: relative;

        display: block;
        margin: 33px auto 0;
        width: 100%;
        max-height: 471px;

        -o-object-fit: contain;
        object-fit: contain;

        &_left {
            -webkit-animation: swipeLeft .4s;
            animation: swipeLeft .4s;
        }

        &_right {
            -webkit-animation: swipeRight .4s;
            animation: swipeRight .4s;
        }

        &_apper {
            -webkit-animation: appear .3s;
            animation: appear .3s;
        }
    }

    &__img-wrapper {
        position: relative;

        &_animated {
            position: fixed;
            z-index: 100;
            animation: scaleCarousel .3s linear;

            .portfolio__img {
                position: absolute;
                top: 50%;

                margin: 0;
                max-height: calc(100% - 72px);

                transform: translateY(-50%);
            }
        }

        &_scaled {
            position: fixed;
            top: 40px;
            left: 0;


            width: 100vw;
            height: 100vh;

            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__watermark {
        position: absolute;
        top: 4rem;
        right: 10px;
        z-index: 9;

        color: $gray-font;
    }
    &__overflow {
        position: relative;

        padding: 0 20px;
        margin-top: 17px;

        overflow: hidden;
    }

    &__carousel {
        position: relative;
        left: 0;

        display: -webkit-box;
        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        max-width: 95%;

        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    &__item {
        display: block;
        margin: 0 7.5px;
        min-width: 160px;
        max-width: 160px;
        max-height: 160px;

        -o-object-fit: contain;
        object-fit: contain;
        cursor: pointer;

        &:hover {
            border: 1px solid $blue-light;
        }
    }

    &__item_selected {
        border: 2px solid $blue-light;
    }

    &__arrow {
        position: absolute;
        top: 0;
        z-index: 10;


        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 100%;

        border: none;
        outline: none;
        cursor: pointer;
        background-color: $backgroundWhite;

        object-fit: contain;
        backdrop-filter: blur(4px);
    }

    &__left {
        left: 0;
        background: url("/images/left.png") no-repeat center center;
    }

    &__right {
        right: 0;
        background: url("/images/right.png") no-repeat center center;
    }

    &__about {
        margin-top: 17px;
    }

    &__about-title {
        color: $blue-dark;
        font-weight: 700;
    }

    &__description {
        margin-top: 7px;
        max-height: 145px;

        color: $gray-font;
        line-height: 24px;

        overflow: hidden;

        &-full {
            max-height: none;
        }
    }
}

@import "portfolio-adaptive";
@import "portfolio-animations";


@keyframes scaleCarousel {
    0% {
        left: 1rem;
        top: calc(15vh + 40px);
        width: 35vw;
        height: 35vh;

    } 100% {
        left: 0;
        top: 40px;
        width: 100vw;
        height: 100vh;
    }
}
