@media (max-width: $df-xl) {
    .portfolio {
        padding-top: 35px;
    }
}

@media (max-width: $df-lg) {
    .portfolio {
        max-width: 368px;

        &__controls {
            display: none;
        }

        &__img {
            margin: 23px auto 0;
            width: 100%;
            max-height: 332px;
        }

        &__arrow {
            width: 40px;
        }

        &__item {
            margin: 0 6px;
            min-width: 140px;
            max-width: 140px;
            max-height: 140px;
        }
    }
}

@media (max-width: $df-md) {
    .portfolio {
        max-width: 448px;
        margin: 0 auto;
        padding-top: 42px;
    };
}

@media (max-width: $df-sm) {
    .portfolio {
        max-width: 288px;

        &__img {
            max-height: 281px;
            width: 100%;
        }
    }
}


