@-webkit-keyframes swipeLeft {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);

        opacity: 1;
    } to {
          -webkit-transform: translateX(200px);
          transform: translateX(200px);

          opacity: 0;
      }
}
@keyframes swipeLeft {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);

        opacity: 1;
    } to {
          -webkit-transform: translateX(200px);
          transform: translateX(200px);

          opacity: 0;
      }
}
@-webkit-keyframes swipeRight {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);

        opacity: 1;
    } to {
          -webkit-transform: translateX(-200px);
          transform: translateX(-200px);

          opacity: 0;
      }
}
@keyframes swipeRight {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);

        opacity: 1;
    } to {
          -webkit-transform: translateX(-200px);
          transform: translateX(-200px);

          opacity: 0;
      }
}

@-webkit-keyframes appear {
    from {
        opacity: 0;
    } to {
          opacity: 1;
      }
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
          opacity: 1;
      }
}
