.sorting {
    position: relative;
    z-index: 10;
    display: inline-block;

    padding: 1.25rem 1.25rem 0;

    &__visible {
        position: relative;

        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-start;

        padding-right: 1.5rem;

        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;

            display: block;
            width: 1rem;
            height: 1rem;

            background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L7 8L13 1' stroke='%23274387' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e") center center no-repeat;
            transform: translateY(-12.5%);
            filter: drop-shadow(1px 3px 2px $gray-font);

            transition: all .25s;
            transform-origin: 50% 40%;
        }

        &_arrow {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    &__header {
        margin-right: .5rem;

        color: $blue-dark;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5rem;
    }

    &__chosen {
        color: $blue-dark;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
    }

    &__plat {
        position: absolute;
        top: calc(100% + .25rem);
        left: 50%;

        padding: 1rem;
        width: calc(100% - 2.5rem);

        background: #ffffff;
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transform: translateX(-50%);

        transition: all .5s;

        &_disable {
            overflow-y: auto;

            padding: 0;
            height: 0;
            visibility: hidden;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .sorting__label {
        position: relative;
        padding-left: 6px;

        color: #274387;
        font-size: .875rem;
        line-height: 1rem;
        letter-spacing: 0.05em;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -1rem;

            display: block;
            width: 1rem;
            height: 1rem;
            background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='%23274387'/%3E%3C/svg%3E%0A") center center no-repeat;

        }
    }

    &__radio-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: .125rem 0;

        input {
            visibility: hidden;
            cursor: pointer;

            &:checked + .sorting__label::before {
                background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='5.5' stroke='%23274387' stroke-width='4'/%3E%3C/svg%3E") center center no-repeat;
            }

        }
    }
}


@import "sotringAdaptive";
