@media (max-width: $df-sm) {
    .sorting {
        padding: 0;
        display: flex;
        justify-content: center;


        &__plat {
            position: relative;
            top: 0;
            left: 0;
            padding: .5rem 0;

            transform: none;
            background-color: transparent;
            box-shadow: none;

            &_disable {
                padding: 0;
            }
        }

        &__header {
            margin-right: .5rem;

            font-size: 1rem;
        }
        &__label {
            font-size: 1rem;
            line-height: 1.25rem;
        }
        &__chosen {
            font-size: .75rem;
        }
        &__visible {
            display: none;
        }
    }
}
