.reliability {
    position: relative;

    padding-top: 5rem;
    max-width: 760px;

    &__group {
        position: relative;

        display: flex;
        align-items: flex-start;
        margin: 7px 0;

        color: $gray-font;
        line-height: 24px;
    }
    &__label {
        display: block;
        width: 300px;

        color: #989898;
        line-height: 24px;
    }

    &__links {
        width: 200px;
        margin: 10px auto 0;


        color: $blue-light;
        letter-spacing: 0.8px;
        text-decoration: underline;
        text-align: center;

        cursor: pointer;

        .reliability__link-less, .reliability__link-more{
            position: relative;

            display: none;

            &::after{
                content: '';
                position: absolute;
                top: calc(50% - .5rem);

                width: 1rem;
                height: 1rem;

                background: url("/images/arrow.png") center center no-repeat;
            }
            &_portfolio::after {
                transform: rotate(180deg);
            }
        }

        .reliability__link-less {
            display: block;
            &::after {
                transform: rotate(180deg);
            }
            &_portfolio::after {
                transform: rotate(0);
            }
        }
    }

    &__content {
        position: relative;

        height: available;
        margin-left: 1rem;

        transition: all .5s;

        &_with-state {
            padding-top: 1.5rem;

            &::before {
                content: "\2014";

                position: absolute;
                top: 5px;
                right: 20px;

                text-align: center;
                font-weight: 700;
                color: #ff0000;
                line-height: 52px;

                display: block;
                width: 52px;
                height: 52px;

                border-radius: 2rem;
                border: 2px solid #ff0000;
                background-color: rgba(255, 0, 0, 0.5);
            }
            &::after{
                content: 'Плохо';
                position: absolute;
                top: 60px;
                right: 8px;

                display: block;
                width: 80px;

                font-weight: 700;
                color: #ff0000;
                text-align: center;

            }
        }
        &[data-content="warning"] {
            &::before{
                content: "!";

            color: #ffb800;

            border: 2px solid #ffb800;
            background-color: #fff800aa;
            }
            &::after{
                content: 'Средне';

                color: #ffb800;
            }
        }
        &[data-content="success"] {
            &::before{
                content: "\2714";

            color: #138700;

            border: 2px solid #138700;
            background-color: #baffae;
            }
            &::after{
                content: 'Отлично!';

                color: #138700;;
            }
        }
    }
    &__content_short {
        height: 0;

        overflow-y: hidden;
    }
}


@import "reliability-adaptive";
