@media (max-width: $df-xl) {
    .reliability {
        padding-top: 33px;
        margin-left: 1rem;
    }

}

@media (max-width: $df-lg) {
    .reliability {
        max-width: 355px;
        &__state {
            right: 0;
            top: 66px;
        }
        &__label {
            max-width: 130px;
            margin-right: .5rem;
        }
    }

}


@media (max-width: $df-md) {
    .reliability {
        margin: 0 auto;
        max-width: 455px;
        &__label {
            width: 200px;
            max-width: none;
        }
        &__state {
            right: 0;
            top: 60px;
        }
    }
}

@media (max-width: $df-sm) {
    .reliability {
        &__content {
            margin: 0 auto;
            max-width: 278px;

            &_with-state {
                padding-top: 4rem;
                margin-top: 1.5rem;
                &:before {
                    top: -1rem;
                    right: calc(50% - 26px);
                }
                &:after {
                    top: 3rem;
                    right: calc(50% - 40px);
                }
            }
        }
        &__label {
            min-width: 130px;
            max-width: 130px;
        }
    }
}
