@mixin filter-arrow {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
    width: 1rem;
    height: 1rem;

    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L7 8L13 1' stroke='%23274387' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e") center center no-repeat;
    transform: translateY(-12.5%);
    filter: drop-shadow(1px 3px 2px $gray-font);

    transition: all .25s;
    transform-origin: 50% 40%;
}
