@import "filter_mixin";

.filter {
    position: relative;
    padding: 1.25rem 1.25rem 0;

    &__visible {
        position: relative;

        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-start;

        padding-right: 1.5rem;

        cursor: pointer;

        &::after {
           @include filter-arrow;
        }

        &_arrow {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    &__header {
        margin-right: .5rem;

        color: $blue-dark;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5rem;
    }

    &__list-wrapper {
        display: block;
        min-width: 100%;

        overflow-x: hidden;

        @include scroll-bar;

        transition: all .25s;

    }

    &__list {
        display: flex;
        padding-top: 1rem;
        padding-left: 1rem;
        flex-wrap: wrap;

        list-style-type: none;

    }

    &__category {
        min-width: max-content;
        margin: .5rem 0;
        width: 200px;


        &_large-device-hidden {
            display: none;
        }
        &_toggleable {
            margin-bottom: .75rem;

            .filter__category-label {
                display: inline-flex;
                &::after {
                    @include filter-arrow;

                    transform: rotate(-180deg);
                    transform-origin: 50% 50%;
                    bottom: calc(50% - .5rem);
                    right: -2rem;
                }
            }
        }
        &_rolled-up {
            .filter__category-label {

                &::after {
                    transform: rotate(0);
                }
            }
            .filter__checkbox-wrapper {
                height: 0;
                padding: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
        &:nth-child(2) {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__category-label {
        position: relative;

        margin-bottom: .375rem;

        color: $blue-dark;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    &__checkbox-wrapper {
        display: flex;
        align-items: center;

        padding: .25rem 0;

        transition: .25s all;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__label {
        padding-left: .5rem;
        position: relative;
        font-size: 1rem;
        line-height: 1.125rem;
        color: $blue-dark;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            left: -1rem;

            display: block;
            width: 1rem;
            height: 1rem;
            background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.25' y='0.25' width='14.5' height='14.5' rx='2.75' stroke='%23274387' stroke-width='0.5'/%3E%3C/svg%3E%0A") center center no-repeat;

            transform: translateY(-50%);
        }
    }

    &__input {
        display: block;
        width: 1rem;
        height: 1rem;

        visibility: hidden;
        cursor: pointer;

        &:checked + .filter__label::before {
            background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='%23274387' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.25' y='0.25' width='14.5' height='14.5' rx='2.75' stroke='%23274387' stroke-width='0.5'/%3E%3C/svg%3E%0A") center center no-repeat;
        }
        &:checked + .filter__label::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            left: -1rem;

            display: block;
            width: 1rem;
            height: 1rem;
            background: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L2.66667 6.33333L1 4.33333' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") center center no-repeat;

            transform: translateY(-50%);
        }
    }
    &__controls {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 4rem;

        box-shadow: 0 -2px 6px $gray-font-a5;
        background-color: $backgroundWhite;
        transition: .25s all;
        transform: translateY(0);
    }
    &_disable {
        .filter {
            &__list-wrapper {
                overflow-y: auto;

                padding: 0;
                height: 0;
                visibility: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &__controls {
                transform: translateY(100%);
            }
        }
    }
}



@media (max-width: $df-md) {
    .filter {
        &__category {
            margin: .5rem 0;
        }
    }
}


@media (max-width: $df-sm) {
    .filter {
        position: fixed;
        z-index: 10001;
        top: 0;
        left: 0;

        padding: 0;
        width: 100vw;
        height: 100vh;

        background-color: $backgroundWhite;
        transition: all .25s;

        &__visible {
            display: flex;
            align-items: center;
            min-height: 3rem;
            padding: 0 1.375rem;

            box-shadow: 0 4px 6px $gray-font;

            &:after {
                right: 1.5rem;
                bottom: 50%;

                transform: translateY(50%);
                filter: none;
                background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13 13' stroke='%23274387' stroke-width='2'/%3E%3Cpath d='M13 1L1 13' stroke='%23274387' stroke-width='2'/%3E%3C/svg%3E%0A") center center no-repeat;

            }
        }
        &__header {
            filter: none;
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: nowrap;
            max-height: 100vh;
            padding: 0 1.375rem 7.5rem;

            overflow-y: auto;
        }


        &_disable {
            overflow-y: auto;
            padding: 0;
            height: 0;
        }
        &__category {
            width: 100%;

            &_large-device-hidden {
                display: block;
            }
        }
        &__label {
            & span {
                display: block;
                max-width: calc(100vw - 5rem);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }

}
