.sort-filter-radio {
    &__btn {
        display: none;
    }
}

@media (max-width: $df-sm) {
    .sort-filter-radio {
        margin: 1rem .25rem 0;

        background: transparent;
        transition: all .25s;
        &_active {
            background: rgba(238, 238, 238, 0.5);
            border: 1px solid $blue-dark;
            box-sizing: border-box;
            border-radius: 8px;
        }
        &__control {
            display: flex;
            justify-content: center;
            padding-top: .25rem;
        }

        &__btn {
            display: block;
            padding: .75rem 0;
            min-width: 144px;
            margin: 0 .25rem;

            font-size: 1.25rem;
            line-height: 1.5rem;
            color: $blue-dark;
            font-weight: 700;
            outline: none;

            background-color: transparent;
            border: 1px solid $blue-dark;
            border-radius: 10px;
        }
    }
}
