.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-ai-center {
        align-items: center;
    }


    &-jc-center {
        justify-content: center;
    }

    &-jc-between {
        justify-content: space-between;
    }

    &-grow {
        &-0 {
            flex-grow: 0;
        }
        &-1 {
            flex-grow: 1;
        }
        &-2 {
            flex-grow: 2;
        }
        &-3 {
            flex-grow: 3;
        }
        &-4 {
            flex-grow: 4;
        }
        &-5 {
            flex-grow: 5;
        }
        &-6 {
            flex-grow: 6;
        }
    }
    &-basis {
        &-30 {
            flex-basis: 30px;
        }
        &-50 {
            flex-basis: 50px;
        }
        &-70 {
            flex-basis: 70px;
        }
        &-90 {
            flex-basis: 90px;
        }
        &-110 {
            flex-basis: 110px;
        }
        &-120 {
            flex-basis: 120px;
        }
        &-130 {
            flex-basis: 130px;
        }
        &-150 {
            flex-basis: 150px;
        }
        &-170 {
            flex-basis: 170px;
        }
        &-190 {
            flex-basis: 190px;
        }
        &-210 {
            flex-basis: 210px;
        }
        &-230 {
            flex-basis: 230px;
        }
    }
}
