@media (max-width: $df-lg) {
    .compare {
        &__item {
            max-width: 208px;
            min-width: 208px;
        }
        &__plus {
            max-width: 208px;
            min-width: 208px;
        }
        &__choose-box {
            max-width: 208px;
            min-width: 208px;
        }
        &__item-links-wrapper {
            max-width: 172px;
        }
    }
}

@media (max-width: $df-md) {
    .compare {
        padding-top: 25px;

        &__item-links-wrapper {
            max-width: 152px;
        }

        &__main {
            padding: 1.5rem 20px ;
            min-height: calc(100vh - 88px - 2px);

            overflow-y: hidden;

            &::-webkit-scrollbar {
                height: 5px;
            }
        }

        &__arrows {
           display: none;
        }

        &__choose-item-wrapper {
            max-height: min(calc(100vh - 88px - 124px), 350px);
            margin-top: 0;
        }
        &__choose-box {
            margin: 0 .25rem 0;
            padding: 1rem;

        }
        &__item {
            margin: 0 2px 0;
            min-height: 0;

            &-header-wrapper {
                padding: 1rem 1rem 0;
            }
        }
        &__item-logo {
            top: 65px;
        }
        &__plus {
            margin: 0 .25rem 0;
            min-height: 110px;
            min-width: 208px;

            &-text {
                display: none;
            }

            &-line-1 {
                transform: translateY(35px);
            }

            &-line-2 {
                transform: translateY(14px);
            }
        }
    }
}


@media (max-width: $df-sm) {
    .compare {
        &__appear {
            margin: 25px 1rem 0;
        }
    }
}
