.compare {
    min-height: calc(100vh - 72px - 92px - 60px - 2px);
    padding-top: 76px;

    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: min(calc(100vh - 88px - 2px), 400px);

    }
    &__error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: min(calc(100vh - 88px - 2px), 400px);

        &-img {
            width: min(50%, 7rem);
        }
    }

    &__arrows {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 7rem;
        margin: 1rem auto;

        &-item {
            display: block;
            height: 2rem;
            width: 2rem;

            background: url("/images/arrow-for-compare.svg") center center no-repeat;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 1rem rgba(60, 99, 196, .5));
            }

            &:first-child {
                transform: rotate(180deg);
            }
        }
    }

    &__scroll-helper {
        height: 1px;
        min-width: 20px;
    }

    &__appear {
        display: none;
    }

    &__paragraph {
        margin: 18px auto 0;
        max-width: 954px;

        text-align: center;
        color: $gray-font;
        line-height: 24px;
    }

    &__main {
        display: flex;
        align-items: baseline;
        padding: 0 20px 65px;
        margin: 0 auto;
        min-width: 100%;
        min-height: 400px;

        overflow-y: visible;
        overflow-x: scroll;
        @include scroll-bar;
        scroll-behavior: smooth;
    }
    &__choose-box {
        padding: 17px 23px;
        margin: 12px;
        min-width: 268px;
        max-width: 268px;

        -webkit-box-shadow: 0 0 40px rgba(61, 115, 255, 0.15);

        box-shadow: 0 0 40px rgba(61, 115, 255, 0.15);
        border-radius: 16px;
        background-color: #ffffff;

        &_disable {
            display: none;
        }
    }
    &__label {
        color: $blue-dark;
        font-weight: 700;
        letter-spacing: 0.8px;
    }
    &__choose-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px;
        height: 50px;

        cursor: pointer;
        border-radius: 10px;

        &:hover {
            -webkit-box-shadow: 0 0 20px rgba(61, 115, 255, 0.3);
            box-shadow: 0 0 20px rgba(61, 115, 255, 0.3);
        }
    }
    &__choose-logo {
        display: block;
        max-width: 35px;
        max-height: 35px;
        margin-right: 17px;
    }
    &__choose-name {
        color: $gray-font;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    &__choose-item-wrapper {
        padding: 12px 10px;
        margin-top: 19px;
        max-height: 350px;

        overflow-y: auto;
        @include scroll-bar
    }
    &__item {
        position: relative;

        margin: 12px;
        min-width: 268px;

        -webkit-box-shadow: 0 0 40px rgba(61, 115, 255, 0.15);
        box-shadow: 0 0 40px rgba(61, 115, 255, 0.15);
        border-radius: 16px;
        background-color: #ffffff;
    }
    &__item-logo {
        position: absolute;
        top: calc(100px);
        right: 24px;
        z-index: 5;

        display: block;
        max-width: 50px;
        max-height: 50px;

        transform: translateY(-50%);

        object-fit: contain;
        opacity: 0.3;
    }
    &__item-name {
        max-width: 160px;

        color: $blue-dark;
        font-weight: 700;
        letter-spacing: 0.8px;
        overflow-x: hidden;
        overflow-y: visible;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__item-site {
        display: block;

        color: $blue-dark;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }
    &__item-close {
        position: relative;
        left: 6px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

        cursor: pointer;

        transition: all .5s;

        &:hover {
            transform: scale(1.1);

        }
    }
    &__item-header-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__plus {
        position: relative;
        top: 4px;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px;
        min-width: 260px;
        min-height: 192px;

        box-shadow: 0 0 40px rgba(61, 115, 255, 0.15);
        border-radius: 1rem;
        background-color: #f6f9fd;
        cursor: pointer;

        &_disabled {
            display: none;
        }

        &-text {
            width: 153px;

            text-align: center;
            color: #93b8e7;
            font-weight: 700;
            line-height: 24px;
        }
        &-line {
            display: block;
            width: 36px;
            height: 4px;

            background-color: #93b8e7;
            border-radius: 2px;

            filter: blur(1px);

            &-1 {
                width: 4px;
                height: 36px;

                transform: translateY(90px);

            }
            &-2 {
                transform: translateY(69px);
            }
        }
    }
}


@import "compare-adaptive";
