.card {
    padding: 1.25rem 1.875rem;

    background: $white;
    box-shadow: 0 0 10px $blue-light-a1;
    border-radius: 5px;

    transition: all .5s;
    &__header {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
        color: $gray-dark-font;
    }

    &_touchable {
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 7px $blue-light-a3;
        }
    }

    &_no-overflow {
        overflow: hidden;
    }

    &_open {
        padding: 1.875rem;
    }
}

@media (max-width: $df-lg) {
    .card {
        &__header {
            line-height: 1.75rem;
        }
    }
}

@media (max-width: $df-md) {
    .card {
        padding: 1.25rem;
        &__header {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}
