.company-data {
    position: relative;
    z-index: 10;

    padding-top: 68px;
    padding-left: 1rem;
    max-width: 760px;

    &__general {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__flex-wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        width: 100%;
    }
    &__logo {
        display: block;
        object-fit: contain;
    }

    &__social-logo {
        display: block;
        width: 1rem;
        height: 1rem;

        &[data-content="inst"] {
            background: url("/images/inst.svg") center center / cover no-repeat;
        }
        &[data-content="fb"] {
            background: url("/images/fb.svg") center center / cover no-repeat;
        }
        &[data-content="yt"] {
            background: url("/images/yt.svg") center center / cover no-repeat;
        }
        &[data-content="vk"] {
            background: url("/images/vk.svg") center center / cover no-repeat;
        }
    }

    &__compare-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 30px;
        max-width: 320px;
    }
    &__rate-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;
        height: 80px;

        color: $gray-font;
    }
    &__name {
        margin-bottom: 1.5rem;
    }
    &__link {
        display: block;
        width: 230px;

        color: $gray-font;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: underline;
            color: $blue-light;
        }
    }

    &__contacts {
        padding-top: 40px;

        color: $gray-font;
    }
    &__contacts-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;

        list-style-type: none;

        li {
            flex-basis: 50%;
        }

    }
    &__label {
        color: #989898;
        line-height: 24px;
    }
    &__value {
        margin-bottom: 8px;
        max-width: 300px;

        color: $gray-font;

        a {
            color: $gray-font;
            text-decoration: none;
            line-height: 1.5rem;

            &:hover {
                color: $blue-light;
                text-decoration: underline;
            }
        }
        &_social-networks {
            display: flex;

            line-height: 1.5rem;
            a {
                margin-right: 1rem;
            }
        }
    }

    &__rating {
        padding-top: 76px;
        max-width: 100%;
    }
    &__rating-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 17px;

        color: $gray-font;
        line-height: 1.5rem;
    }

    &__different-rate {
        margin-right: 115px;
    }
    &__res-line {
        display: flex;
        align-items: center;
    }
    &__res-wrapper {
        width: 120px;
    }
    &__average-data {
        width: 50px;
    }
}

@import "company-data-adaptive";
