@media (max-width: $df-xl) {
    .company-data {
        max-width: 580px;

        &__rating {
            margin-top: 41px;
        }

        &__different-rate {
            margin-right: 5rem;
        }

        &__flex-wrapper {
            display: flex;
            flex-direction: column;
            margin-left: 3rem;
        }

        &__compare-part {
            margin-left: 0;
        }

        &__general {
            justify-content: flex-start;
        }

        &__contacts-wrapper {
            margin-top: 19px;
        }
    }
}


@media (max-width: $df-lg) {
    .company-data {
        max-width: 448px;
        &__contacts-wrapper {
            margin-top: 17px;

            div {
                flex-basis: 100%;
            }
        }

        &__rating-wrapper {
            flex-direction: column;
            max-width: 448px;
        }

        &__different-rate {
            margin-right: .5rem;
        }
    }
}

@media (max-width: $df-md) {
    .company-data {
        max-width: 448px;
        margin: 168px auto 0;
        padding: 0;

        &__compare-button {
            padding-top: .5rem;
        }
        &__contacts-wrapper {
            div {
                flex-basis: 50%;
            }
        }

        &__rating {
            padding-top: 30px;
        }

        &__rating-wrapper {
            flex-direction: row;
            align-items: center;
        }

        &__total-rate {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 90px;

            font-size: 12px;
        }

        &__value {
            max-width: 217px;
        }

        &__different-rate {
            margin-right: .25rem;
        }
    }
}


@media (max-width: $df-sm) {
    .company-data {
        max-width: 300px;

        &__link {
            text-align: center;
        }

        &__general {
            flex-direction: column;
            align-items: center;
        }

        &__flex-wrapper {
            margin: 14px 0 0;
        }

        &__compare-part {
            align-items: center;
        }

        &__rate-part {
            align-items: center;
            padding-top: .5rem;
            margin: 0 auto;
        }

        &__contacts-wrapper {
            div {
                flex-basis: 100%;
            }
        }

        &__value {
            max-width: 100%;
        }

        &__rating-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
