.rating-card {
    position: relative;

    padding: 1.5rem;
    max-width: 760px;

    color: $gray-font;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 0 40px rgba(61, 115, 255, 0.1);
    border-radius: 16px;
    background-color: #ffffff;
    transition: .25s all;

    &:hover {
        box-shadow: 0 0 40px rgba(61, 115, 255, 0.3);
    }

    &_row {
        display: flex;
        flex-direction: row;
    }

    &_col {
        display: flex;
        flex-direction: column;
    }

    &__line {
        display: flex;
        width: 100%;

        &_center {
            align-items: center;
        }
    }

    &_hover-appear {
        transition: .5s all;
        max-height: 0;
        z-index: -1;
        opacity: 0;
        overflow: hidden;
    }

    &:hover {
        .rating-card_hover-appear {
            animation: pulse 0.5s  both;
            max-height: 400px;
            opacity: 1;
        }
    }

    &__col {
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    &__img {
        display: block;
        object-fit: contain;
    }

    &__additional-info {
        padding: 1.75rem;

        background-color: $backgroundWhite;
        border-radius: 10px;
    }

    &__appeared-link {
        position: relative;
        z-index: 10;

        display: block;
        color: $blue-dark;
        background: white;

        &:hover {
            overflow: visible;

            &:after {
                content: attr(data-content);
                position: absolute;
                top: 0;
                left: 0;

                background-color: white;
            }
        }
    }

    &__user-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        font-weight: 700;
        font-size: 19px;

        border-radius: 30px;

        &[data-random="1"] {
            background-color: aquamarine;
            color: $gray-dark-font;
        }

        &[data-random="2"] {
            background-color: chartreuse;
            color: $gray-dark-font;
        }

        &[data-random="3"] {
            background-color: cornflowerblue;
            color: $white;
        }

        &[data-random="4"] {
            background-color: darkolivegreen;
            color: $white;
        }

        &[data-random="5"] {
            background-color: darksalmon;
            color: $gray-dark-font;
        }

        &[data-random="6"] {
            background-color: slateblue;
            color: $white;
        }

        &[data-random="7"] {
            background-color: lightyellow;
            color: $gray-dark-font;
        }

        &[data-random="8"] {
            background-color: mediumpurple;
            color: $white;
        }

        &[data-random="9"] {
            background-color: plum;
            color: $gray-dark-font;
        }
    }
}
