.h {
    &-1 {
        height: 1rem;
    }

    &-2 {
        height: 2rem;
    }

    &-3 {
        height: 3rem;
    }

    &-4 {
        height: 4rem;
    }

    &-5 {
        height: 5rem;
    }

    &-6 {
        height: 6rem;
    }

    &-7 {
        height: 7rem;
    }

    &-8 {
        height: 8rem;
    }

    &-9 {
        height: 9rem;
    }

    &-10 {
        height: 10rem;
    }

    &-fc {
        height: fit-content;
    }
}


.w {
    &-1 {
        width: 1rem;
    }

    &-2 {
        width: 2rem;
    }

    &-3 {
        width: 3rem;
    }

    &-4 {
        width: 4rem;
    }

    &-5 {
        width: 5rem;
    }

    &-6 {
        width: 6rem;
    }

    &-7 {
        width: 7rem;
    }

    &-8 {
        width: 8rem;
    }

    &-9 {
        width: 9rem;
    }

    &-10 {
        width: 10rem;
    }
}

.max-w {
    &-1 {
        max-width: 1rem;
    }

    &-2 {
        max-width: 2rem;
    }

    &-3 {
        max-width: 3rem;
    }

    &-4 {
        max-width: 4rem;
    }

    &-5 {
        max-width: 5rem;
    }

    &-6 {
        max-width: 6rem;
    }

    &-7 {
        max-width: 7rem;
    }

    &-8 {
        max-width: 8rem;
    }

    &-9 {
        max-width: 9rem;
    }

    &-10 {
        max-width: 10rem;
    }
}
