@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0) rotate(2deg);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0)  rotate(-2deg);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0) rotate(-1deg);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0) rotate(1deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(.98);
    }
    100% {
        transform: scale(1);
    }
}
