.about {
    padding-top: 3.125rem;
    padding-left: 1rem;
    max-width: 760px;

    &__paragraph {
        color: $gray-font-2;
        line-height: 1.5rem;
        max-width: content-box;

        transition: all .5s;
        overflow-y: hidden;

        &_disable {
            margin-top: 0;
        }
    }
    &__toggle-arrow {
        position: relative;

        display: block;
        min-height: 30px;
        min-width: 30px;

        transition: all .5s;
        transform-origin: 50% 50%;

        &:before, &:after {
            box-sizing: border-box;
            content: '';
            position: absolute;

            height: 2px;
            width: 10px;
            border-radius: 1.5px;

            background-color: $gray-dark-font;
        }
        &:before {
            top: 50%;
            left: 50%;
            transform: rotate(45deg) translateX(calc(-50% * .6)); // sin45 - empirical error (i don`t know it`s nature)
        }
        &:after {
            top: 50%;
            right: 50%;

            transform: rotate(-45deg) translateX(calc(50% * .6));
        }
        &_active {
            transform: rotate(180deg);
        }
    }
}

@media (max-width: $df-xl) {
    .about {
        max-width: 635px;
    }
}

@media (max-width: $df-lg) {
    .about {
        max-width: 411px;
    }
}

@media (max-width: $df-md) {
    .about {
        padding: 96px 0 0 0;
        margin: 0 auto;
        max-width: 448px;
    }
}

@media (max-width: $df-sm) {
    .about {
        max-width: 288px;
    }
}
