.about-site {
    padding: 76px 1rem 0;
    max-width: calc(510px + 2rem);

    &__paragraph {
        margin: 1rem 0 3rem;
        max-width: 465px;

        color: $gray-font;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;

        &_little {
            margin-top: 1rem;

            color: $gray-font;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }
    &__link {
        color: $blue-light;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    &__question {
        position: relative;
        top: .125rem;

        display: inline-block;
        width: 1rem;
        height: 1rem;

        background: url("/images/question.png") center center no-repeat;
    }
}

@media (max-width: $df-xl) {
    .about-site {
        padding: 56px 1rem 0;
        max-width: 565px;
        &__paragraph {
            margin: 11px 0 51px;

        }
    }

}

@media (max-width: $df-lg) {
    .about-site {
        max-width: 382px;;

    }
}

@media (max-width: $df-md) {
    .about-site {
        max-width: 458px;
        padding: 56px 1rem 0;
        margin: 0 auto;
        &__btn {
            display: block;
            margin: 0 auto;
        }
        &__paragraph {
            margin-bottom: 17px;
        }
    }
}

