// probably it`s unused legacy

.arc {
    position: relative;

    width: 100px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__percent {
        position: absolute;
        top: calc(50% - 12px);
        left: 50%;

        font-size: 1rem;
        line-height: 1.5rem;

        transform: translate(-50%, -50%);
    }
    &__canvas {
        display: block;
        margin: 0 auto;

        object-fit: cover;
    }
    &__text {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
    }
}
