.best-choice {
    position: fixed;
    top: 148px;
    left: calc(50vw + 300px);
    z-index: 0;

    max-width: 300px;
    min-width: 300px;

    background-color: transparent;
    &__img-wrapper {
        text-decoration: none;
    }
    &__img {
        display: block;
        margin: 1.5rem auto 2rem;
        max-height: 180px;
        max-width: 180px;
        object-fit: contain;
    }
    &__sub-img {
        display: none;
        max-height: 100px;
        max-width: 100px;
        margin-right: 37px;
        object-fit: contain;
    }
    &__average-rate {
        color: $blue-light;
    }
    &__text {
        max-width: 200px;
        margin: 12px auto 22px;

        color: $gray-font;
    }
    &__link {
        text-decoration: none;
    }
}


@media (max-width: $df-xl) {
    .best-choice {
        left: auto;
        right: 60px;
        top: 128px;
        &__img {
            max-height: 130px;
            max-width: 130px;
            margin: 1rem auto 1.2rem;
        }
    }
}

@media (max-width: $df-lg) {
    .best-choice {
        right: 34px;
        max-width: 230px;
    }
}


@media (max-width: $df-md) {
    .best-choice {
        position: static;

        margin: 10px auto 0;
        max-width: 100%;
        &__img {
            display: none;
        }
        &__header {
            margin-bottom: 13px;
        }
        &__name {
            margin-top: 13px;
            margin-bottom: 13px;
        }
        &__text {
            margin: 0 auto;
        }
        &__sub-img {
            display: block;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__text {
            margin-bottom: 0;
        }
        &__img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_second-position {
            margin: 60px auto 0;
        }
    }
}

@media (max-width: $df-sm) {
    .best-choice {
        &__img {
            display: block;
        }
        &__header {
            margin-bottom: 27px;

            font-size: 1.25rem;
        }
        &__sub-img {
            display: none;
        }
        &__wrapper {
            display: block;
        }
        &__text {
            margin-bottom: 0;
        }
        &__img-wrapper {
            display: block;
        }
    }
}
