.btn {
    padding: 18px 24px;
    max-width: 100%;

    font-size: 1rem;
    letter-spacing: 0.8px;

    cursor: pointer;
    border-radius: 1rem;
    outline: none;

    &_sharp-angle {
        border-radius: .3125rem;
    }

    &_little-padding {
        padding: .5rem 1.5rem;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        text-decoration: none;
        color: white;
        &_dark {
            color: $blue-light;
        }
        &_about-site {
            padding: 18px 53px;
        }
        &_best-choice {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            padding: 18px 24px;
            font-weight: 700;
        }
    }

    &__about-site {
        padding: 0;
    }
    &_light {
        color: $blue-light;

        border: 1px solid $blue-light;
        background-color:  white;
    }
    &_best-choice {

        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;

        font-weight: 700;
    }
    &_company {
        min-width: 175px;
        margin-top: 0;

        background-color: #f6f9fd;
    }
    &_dark {
        color: white;

        background-color:  $blue-light;
        border: none;
    }
    &_bold {
        font-weight: 700;
    }
    &_compare {
        position: relative;
        z-index: 20;

    }
    &_submit {
        color: $white;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.8px;

        background-color: $blue-light;
        border: none;

        &:hover {
            box-shadow: .25rem .25rem 1rem $blue-dark;
        }
        &:focus {
            box-shadow: .25rem .25rem 1rem $blue-dark;
        }
    }

    &_compare-controls {
        display: block;
        padding: .75rem 0;
        min-width: 144px;
        margin: 0 .25rem;

        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $blue-dark;
        font-weight: 700;
        outline: none;

        background-color: transparent;
        border: 1px solid $blue-dark;
        border-radius: 10px;
    }
    &_dark-st {
        color: white;

        background-color:  $blue-dark;
    }
}

@media (max-width: $df-xl) {
    .btn_compare {
        min-width: 270px;
    }
}

@media (max-width: $df-lg) {
    .btn {
        &_best-choice {
            padding: 0;

            font-size: 14px;
        }
    }
}

@media (max-width: $df-md) {
    .btn {
        font-size: 14px;

        &_compare-controls {
            font-size: 1.25rem;
        }

        &__about-site {
            display: block;
            margin: 0 auto;
        }
        &__link {
            &_best-choise {
                padding: 14px 24px;
            }
        }

        &_compare {
            padding: 0;
        }

        &_best-choice {
            max-width: none;
            padding: 0;
            margin-top: 33px;

            font-size: 16px;
            letter-spacing: 0.8px;
        }
    }
}

@media (max-width: $df-sm) {
    .btn {
        &__about-site {
            width: 100%;
        }

        &_company {
            min-width: 288px;
        }

        &_compare {
            min-width: 240px;
        }
    }
}
