.circle {
    position: absolute;
    top: 11px;
    left: -16px;

    display: block;
    width: 8px;
    height: 8px;

    background-color: $blue-dark;
    border-radius: 4px;

    transform: translateY(-50%);

}
