.cover {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -20;

    height: 1550px;
    width: 1550px;

    transform: translateX(740px) translateY(-20px);

    &_first-position {
        transform: translateX(740px) translateY(-500px);
    }
    &__item {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        width: 100%;

        &-1, &-2 {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-position: top 0 right 0;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-1 {
            &::after {
                background-image: url("/images/best_choice_1.svg");
            }
        }
        &-2 {
            &::after {
                transform: translateY(-70px) translateX(-110px);

                background-image: url("/images/best_choice_2.svg");
                filter: drop-shadow(1rem .5rem 1rem rgba(60, 99, 196, .5));
            }
        }
    }
}

@media (min-width: 320px) {
    .cover {
        height: 1450px;
        width: 1450px;
        transform: translateX(740px) translateY(0);

        &_first-position {
            transform: translateX(740px) translateY(-600px);
        }
    }
}

@media (min-width: 400px) {
    .cover {
        transform: translateX(620px) translateY(-120px);

        &_first-position {
            transform: translateX(620px) translateY(-600px);
        }
    }
}



@media (min-width: $mf-sm) {
    .cover {
        transform: translateX(550px) translateY(-280px);

        &_first-position {
            transform: translateX(550px) translateY(-780px);
        }
    }
}

@media (min-width: $mf-md) {
    .cover {
        position: fixed;

        height: 1000px;
        width: 1000px;

        transform: translateX(550px) translateY(-100px);
    }
}

@media (min-width: 1000px) {
    .cover {
        transform: translateX(500px) translateY(-100px);
    }
}

@media (min-width: $mf-xl) {
    .cover {
        height: 1200px;
        width: 1200px;

        transform: translateX(650px) translateY(-150px);
    }
}

@media (min-width: 1400px) {
    .cover {
        height: 1000px;
        width: 1000px;

        transform: translateX(400px) translateY(0)
    }
}

@media (min-width: 1550px) {
    .cover {
        height: 1200px;
        width: 1200px;

        transform: translateX(450px) translateY(-200px)
    }
}


@media (min-width: 1800px) {
    .cover {
        height: calc(1300px + (100vw - 1800px)/2);
        width: calc(1300px + (100vw - 1800px)/2);

        transform: translateX(450px) translateY(calc(-200px - (100vh - 1000px)/5))
    }
}
