.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    overflow: hidden;
    &_compare {
        width: 100%;
    }
}

.ta-c {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.text {
    color: $gray-font;
    line-height: 1rem;
}

.blue-light-text {
    color: $blue-light;
}

.red-text {
    color: $red-soft;
}

.c-green {
    color: $green;
}
.c-yellow {
    color: $yellow;
}
.c-red {
    color: $red
}

.d-block {
    display: block;
}


@media (max-width: 1220px) {
    .container {
        display: flex;
        flex-flow: column nowrap;
        width: auto;

        &_compare {
            display: block;
        }
    }
}

@media (max-width: $df-md) {
    .container {
        align-items: center;
    }
}

.hide {
    display: none;
}

@media (max-width: $df-sm) {
    .hide-sm {
        display: none;
    }
}

@media (max-width: $df-md) {
    .hide-md {
        display: none;
    }
}

@media (max-width: $df-lg) {
    .hide-lg {
        display: none;
    }
}

@media (max-width: $df-xl) {
    .hide-xl {
        display: none;
    }
}



