.info {
    padding-left: 1rem;
    padding-top: 68px;
    max-width: 758px;

    &__img {
        display: block;
        max-width: 100%;
        margin: 1rem auto 0;

        object-fit: contain;
    }

    &__paragraph {
        line-height: 1.5rem;
        color: $gray-font;

        &_offset {
            margin-top: 1rem;
        }

        &_offset-little {
            margin-top: .5rem;
        }
    }

    &__bm {
        margin-top: 77px;
    }

    &__blue {
        font-weight: 700;
        color: $blue-dark;
    }

    &__link {
        color: $gray-font;
        text-decoration: underline;

        &:hover {
            color: $blue-light;
        }
    }
}

@media (max-width: $df-xl) {
    .info {
        max-width: 534px;

        &__bm {
            margin-top: 40px;
        }

        &__img {
            height: auto;
        }
    }
}

@media (max-width: $df-lg) {
    .info {
        max-width: 440px;

        &__bm {
            margin-top: 30px;
        }
    }
}

@media (max-width: $df-md) {
    .info {
        max-width: 440px;
        margin: 4rem auto 0;

        &__bm {
            margin-top: 25px;
        }
    }
}

@media (max-width: $df-sm) {
    .info {
        max-width: 288px;
    }
}

