.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 2rem;
    width: 300px;

    &__arrow {
        position: relative;

        min-width: 2rem;
        min-height: 2rem;

        &:before, &:after {
            content: '';
            position: absolute;
            left: calc(50% - 1px);

            height: 10px;
            width: 2px;

            background-color: $blue-light;
        }
        &:before{
            top: calc(50% - 3px - 5px);

            transform: rotate(45deg);
        }
        &:after {
            top: calc(50% + 3px - 5px);

            transform: rotate(-45deg);
        }
        &_right {
            transform: rotate(180deg);
        }
        &_double {
            &:before, &:after {
                left: calc(50% + 4px);
            }
            span {
                position: absolute;
                left: calc(50% - 4px);

                height: 10px;
                width: 2px;

                background-color: $blue-light;

                &:nth-child(1) {
                    top: calc(50% - 3px - 5px);

                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    top: calc(50% + 3px - 5px);

                    transform: rotate(-45deg);
                }
            }
        }
    }
    &__item {
        display: block;
        min-width: 2.5rem;
        min-height: 2.5rem;
        margin: 0 4px;

        color: $blue-light;
        line-height: 2.5rem;
        font-size: 1.3rem;
        text-decoration: none;
        text-align: center;

        border: 2px $blue-light solid;
        border-radius: 4px;

        &_dots {
            cursor: no-drop;
        }
    }
    &__current {
        color: $blue-dark;

        border: 2px $blue-dark solid;
    }
}
