.rating-companies {
    padding-top: 84px;
    max-width: 780px;
}

@media (max-width: $df-xl) {
    .rating-companies {
        max-width: 620px
    }
}



@media (max-width: $df-lg) {
    .rating-companies {
        max-width: 430px;
    }
}


@media (max-width: $df-md) {
    .rating-companies {
        padding-top: 7rem;
        max-width: 100%;
    }
}
