.rating-reliability {
    padding-top: 5.25rem;
    width: 760px;
}

@media (max-width: $df-xl) {
    .rating-reliability {
        max-width: 620px
    }
}

@media (max-width: $df-lg) {
    .rating-reliability {
        max-width: 430px;
    }
}


@media (max-width: $df-md) {
    .rating-reliability {
        margin-top: 8rem;
        max-width: 100%;
    }
}

