.side-form-submit {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;

    &__btn {
        display: block;
        min-width: 100px;
        height: 50px;
        padding: 0 1rem;

        color: white;
        font-size: 16px;
        font-weight: 700;

        cursor: pointer;
        border: none;
        border-radius: 25px;
        background-color: $blue-light;
        opacity: 0;

        transition: all 1s;

        visibility: hidden;

        &_appear {
            opacity: 1;
            visibility: visible;
        }
    }
}
